.mt-2 {
    margin-top: 20px;
}

.table {
    color: #3c763d;
}

.table a {
    color: #3c763d;
}

.table tbody tr:hover {
    background-color:#d2f8d2;
}

.navbar-style {
    background-color:#3c763d; 
}

.navbar-inverse .navbar-nav > li > a {
    color:white; 
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover{
    color: black;
    background-color: #3c763d;
    font-size: large;  
}

li .active {
    background-color:#d2f8d2; 
}

.nav-item a {
    color:#3c763d; 
}